[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
psycopg2-binary = "*"
httpx = "*"
python-dotenv = "*"
celery = "*"
redis = "*"
drf-spectacular = "*"
adrf = "*"

[dev-packages]

[requires]
python_version = "3.13"
